<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Tu video se ha publicado exitosamente y esta disponible desde este momento en la pagina del concurso.</p>
  </body>
</html>