<%= link_to @concurso.nombre, "/sites/"+@concurso.id.to_s %>
<h1><%= @concurso.nombre %></h1>
<span><%= link_to "Ver Concurso", "/sites/"+@concurso.id.to_s %></span>
<span><%= pluralize(@concurso.videos.count, "video") %></span>
